@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@layer base {
	:root {
		--background: #f4f4f4;
		--foreground: #30363c;
		--hero: #dedcdc;
		--card: #f4f4f4;
		--card-foreground: #30363c;

		--popover: #f4f4f4;
		--popover-foreground: #30363c;

		--primary: #3390c4;
		--primary-foreground: #f4f4f4;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: #3390c4;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: #3390c4;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: #f4f4f4;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: #30363c;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--hero: #dedcdc;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
	.light {
		--background: #f4f4f4;
		--accent1: #3390c4;
		--accent2: #3f8fba;
		--foreground: #30363c;
	}
	.container {
		min-height: 100vh;
		background-color: var(--background);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
