.heroFont {
	font-size: 55px;
	font-weight: 500;
	font-style: normal;
	color: #3f4144;
}
@media screen and (max-width: 1000px) {
	.heroFont {
		font-optical-sizing: auto;
		font-weight: 500;
		font-size: 50px;
		color: #3f4144;
	}
}
@media screen and (max-width: 480px) {
	.heroFont {
		font-optical-sizing: auto;
		font-weight: 500;
		font-size: 35px;
		color: #3f4144;
	}
}
.form {
	border: 1px solid black;
	border-radius: 50px;
}
